/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto';
  background-color: #fafafa;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: #33475B;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #33475B;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
.btn-mixin {
  background: #FF7A59;
  padding: 7px 30px;
  border: 2px solid #FF7A59;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  text-decoration: none;
}
.btn-mixin:hover {
  background: white;
  color: #33475B;
  border: 2px solid white;
  box-shadow: 1px 1px 1px 2px #9c9c9c;
}
header {
  background: #4DB3AF;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
    position: static;
  }
}
header a {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
@media (max-width: 800px) {
  header a {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  header a {
    margin-top: 15px;
    font-size: 3.6rem;
  }
}
header .head-luncher {
  font-size: 3.6rem;
  margin-left: 5%;
}
@media (max-width: 500px) {
  header .head-luncher {
    margin-left: 0;
    font-size: 6rem;
  }
}
header .nav-link {
  padding-top: 7px;
}
header nav {
  display: flex;
  justify-content: space-around;
  width: 55%;
  margin-right: 5%;
}
@media (max-width: 800px) {
  header nav {
    width: 70%;
  }
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    width: 95%;
  }
}
header .nav-btn {
  background: #FF7A59;
  padding: 7px 30px;
  border: 2px solid #FF7A59;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  text-decoration: none;
}
header .nav-btn:hover {
  background: white;
  color: #33475B;
  border: 2px solid white;
  box-shadow: 1px 1px 1px 2px #9c9c9c;
}
@media (max-width: 500px) {
  header .nav-btn {
    margin-bottom: 10px;
    font-size: 3.6rem;
    height: 42px;
    width: 95%;
    padding: 0;
    text-align: center;
  }
}
footer {
  background: #4DB3AF;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  width: 100%;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}
footer p {
  margin-right: 5%;
  padding-top: 5px;
  width: 100%;
}
@media (max-width: 500px) {
  footer p {
    margin: 10px 0 0;
  }
}
footer .admin-login-btn {
  background: #FF7A59;
  padding: 7px 30px;
  border: 2px solid #FF7A59;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 5%;
}
footer .admin-login-btn:hover {
  background: white;
  color: #33475B;
  border: 2px solid white;
  box-shadow: 1px 1px 1px 2px #9c9c9c;
}
@media (max-width: 500px) {
  footer .admin-login-btn {
    text-align: center;
    margin: 0;
    font-size: 3.6rem;
    height: 42px;
    width: 95%;
    padding: 0 12%;
  }
}
.home {
  margin-top: 90px;
}
@media (max-width: 500px) {
  .home {
    margin-top: 20px;
  }
}
.home .cta {
  width: 95%;
  margin: 20px auto 20px;
  text-align: center;
  height: 350px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  background-color: #848484;
  background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(/background-img/lunch.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 800px) {
  .home .cta {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .home .cta {
    flex-direction: column-reverse;
    height: 800px;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(/background-img/foodcounter.jpg) no-repeat center;
    background-size: 200%;
  }
}
.home .cta .cta-text {
  width: 55%;
}
@media (max-width: 800px) {
  .home .cta .cta-text {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .home .cta .cta-text {
    width: 90%;
    margin-top: 20px;
  }
}
.home .cta img {
  margin-top: 10px;
}
@media (max-width: 500px) {
  .home .cta img {
    width: 85%;
  }
}
.home .cta h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.home .cta p {
  font-size: 2.4rem;
  width: 90%;
  margin: 25px auto;
  color: white;
}
.home .cta .cta-btn {
  background: #FF7A59;
  padding: 7px 30px;
  border: 2px solid #FF7A59;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
}
.home .cta .cta-btn:hover {
  background: white;
  color: #33475B;
  border: 2px solid white;
  box-shadow: 1px 1px 1px 2px #9c9c9c;
}
.home .main-content {
  width: 95%;
  margin: auto;
}
.home .main-content .hunger {
  margin-bottom: 20px;
}
.home .main-content .hunger h2 {
  text-align: center;
  margin-bottom: 10px;
}
.home .main-content .hunger p {
  width: 80%;
  margin: auto;
  text-align: center;
}
.home .main-content .testimonial-container {
  margin-bottom: 40px;
}
.home .main-content .testimonial-container h2 {
  margin: 20px auto;
  width: 30%;
}
.home .main-content .testimonial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: auto;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid #e6e6e6;
}
@media (max-width: 500px) {
  .home .main-content .testimonial {
    flex-direction: column;
  }
}
.home .main-content .testimonial h2 {
  margin-bottom: 25px;
}
.home .main-content .testimonial p {
  width: 30%;
  height: auto;
  padding-top: 20px;
}
@media (max-width: 500px) {
  .home .main-content .testimonial p {
    width: 95%;
    order: 1;
  }
}
.home .main-content .testimonial .img-container {
  display: block;
  width: 30%;
}
@media (max-width: 500px) {
  .home .main-content .testimonial .img-container {
    width: 55%;
  }
}
.home .main-content .testimonial img {
  max-width: 100%;
  height: auto;
  border-radius: 35px;
  margin: 20px;
  border-bottom: 2px solid silver;
}
@media (max-width: 500px) {
  .home .main-content .testimonial img {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
}
.about-us {
  margin-top: 90px;
}
@media (max-width: 500px) {
  .about-us {
    margin-top: 20px;
  }
}
.about-us .heading {
  width: 95%;
  margin: auto;
  display: flex;
  height: 235px;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  border-radius: 30px;
  background-color: #848484;
  background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(/background-img/businessteam.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 500px) {
  .about-us .heading {
    flex-direction: column;
    align-items: center;
    height: auto;
    border-radius: 25px;
    margin-bottom: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(/background-img/developers.jpg) no-repeat center;
    background-size: 100%;
  }
}
.about-us .heading h1 {
  width: 50%;
  text-align: center;
  color: white;
}
@media (max-width: 500px) {
  .about-us .heading h1 {
    width: 95%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
.about-us .heading p {
  width: 40%;
  font-size: 2rem;
  margin-right: 5%;
  color: white;
}
@media (max-width: 500px) {
  .about-us .heading p {
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
  }
}
.about-us .about-tabs {
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-us .about-tabs h2 {
  text-align: center;
}
.about-us .about-tabs .tabs {
  border: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  height: 50px;
  align-items: center;
  background: #4DB3AF;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
@media (max-width: 500px) {
  .about-us .about-tabs .tabs {
    flex-direction: column;
    height: auto;
  }
}
.about-us .about-tabs .tabs .tab {
  width: 24.9%;
  height: 46px;
  padding-top: 15px;
  text-align: center;
  font-size: 1.6rem;
  background: #4DB3AF;
  border-top-left-radius: 25px;
  border-top-right-radius: 5px;
  color: white;
  cursor: pointer;
}
@media (max-width: 500px) {
  .about-us .about-tabs .tabs .tab {
    width: 100%;
    height: 50px;
    font-size: 2rem;
  }
}
.about-us .about-tabs .tabs .active-tab {
  background: white;
  color: #33475B;
}
.about-us .about-tabs .people {
  border: 1px solid #e6e6e6;
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
}
.about-us .about-tabs .people .single-person {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 305px;
  padding: 0 5%;
  background-color: white;
}
@media (max-width: 500px) {
  .about-us .about-tabs .people .single-person {
    flex-direction: column;
  }
}
.about-us .about-tabs .people .single-person .tab-img-container {
  display: block;
  padding-top: 20px;
  width: 25%;
  height: 250px;
}
@media (max-width: 500px) {
  .about-us .about-tabs .people .single-person .tab-img-container {
    width: 95%;
  }
}
.about-us .about-tabs .people .single-person img {
  max-width: 220px;
  max-height: 220px;
  width: 100%;
  height: auto;
  border-radius: 60px;
}
@media (max-width: 500px) {
  .about-us .about-tabs .people .single-person img {
    display: block;
    margin: auto;
  }
}
.about-us .about-tabs .people .single-person h2 {
  width: 250px;
}
.about-us .about-tabs .people .single-person a {
  text-decoration: none;
}
@media (max-width: 500px) {
  .about-us .about-tabs .people .single-person a {
    margin-bottom: 10px;
  }
}
.about-us .about-tabs .people .multi-person {
  justify-content: space-around;
  display: flex;
  height: 305px;
  background-color: white;
}
@media (max-width: 500px) {
  .about-us .about-tabs .people .multi-person {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
.about-us .about-tabs .people .multi-person .front-end {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
@media (max-width: 500px) {
  .about-us .about-tabs .people .multi-person .front-end {
    width: 75%;
  }
}
.about-us .about-tabs .people .multi-person .front-end .tab-img-container {
  width: 95%;
}
.about-us .about-tabs .people .multi-person .front-end img {
  display: block;
  max-width: 230px;
  width: 80%;
  margin: 20px auto;
  max-height: 230px;
  height: auto;
  border-radius: 60px;
}
@media (max-width: 500px) {
  .about-us .about-tabs .people .multi-person .front-end img {
    max-width: 217px;
  }
}
.about-us .about-tabs .people .multi-person .front-end h2 {
  width: 250px;
}
.about-us .about-tabs .people .multi-person .front-end a {
  text-decoration: none;
}
.about-us .about-tabs .people .hidden-content {
  display: none;
}
