.home{
    .cta{
        //NEEDS BACKGROUND IMAGE
        //border: 1px solid red;
        width: 95%;
        margin: 20px auto 20px;
        text-align: center;
        height: 350px;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        background-color: #848484;
        background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(/background-img/lunch.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;

        @media @mobile{
            flex-direction: column-reverse;
            height: 800px;
            align-items: center;
            background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(/background-img/foodcounter.jpg) no-repeat center;
            background-size: 200%
        }

        .cta-text{
            width: 55%;

            @media @mobile{
                width: 90%;
            }
        }

        img{
            margin-top: 10px;

            @media @mobile{
                width: 85%;
            }
        }

        h1{
            margin-top: 20px;
            margin-bottom: 20px;
            color: white;
        }

        p{
            font-size: 2.4rem;
            width: 90%;
            margin: 25px auto;
            color: white;
        }

        .cta-btn{
            .btn-mixin;
            text-decoration: none;

            @media @mobile{

            }
        }
    }

    .main-content{
        width: 95%;
        margin: auto;

        .hunger{
            margin-bottom: 20px;
            h2{
                text-align: center;
                margin-bottom: 10px;
            }
            p{
                width: 80%;
                margin: auto;
            }
        }

        .testimonial-container{
            margin-bottom: 40px;
            h2{
                margin: 20px auto;
                width: 30%;
            }
        }

        .testimonial{
            display: flex;
            height: auto;
            justify-content: space-around;
            align-items: center;
            width: 95%;
            height: auto;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            border: 1px solid #e6e6e6;

            @media @mobile{
                flex-direction: column;
            }

            h2{
                margin-bottom: 25px;
            }

            p{
                width: 30%;
                height: auto;
                padding-top: 20px;

                @media @mobile{
                    width: 95%;
                    order: 1;
                }
            }

            .img-container{
                display: block;
                width: 30%;
                //border: 1px solid red;

                @media @mobile{
                    width: 55%;
                }
            }

            img{
                max-width: 100%;
                height: auto;
                border-radius: 35px;
                padding: 20px;
                //border: 1px solid red;
                
                @media @mobile{
                    width: 100%;
                    margin: auto;
                }
            }
        }
    }
}